# Virtual environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# FastAPI + Uvicorn logs (opsional)
*.log

# VSCode config files
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# env files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Linux
*.swp

# Other IDEs
.idea/
